<div class="row pd-top-2">
    <div class=" col-md-12 pd-top-2 pd-bottom-2  panel panel-default">
        <form class="form-inline form-search" role="form">
           
           
            #foreach($field in $cm.fields)	
            <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">${field.comment}名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.${field.cname}">
            </div>
                 
          #end
           
         
           
            <div class="form-group col-md-6 col-md-offset-1">
         
                <button class="btn btn-primary pull-right"style="margin-right: 2%;"
                        ng-click="vm.search()">查询
                </button>
                <button class="btn btn-primary pull-right"
                        ng-if="vm.hasParent" ng-click="vm.research()"
                        style="margin-right:2%;">重置
                </button>

            </div>
        </form>
    </div>

    <div class="row">
        <div class=" col-md-12 ">
            <div class="  panel panel-default">
                <div class="panel-heading">
                
                
                    ${cm.commentName}管理
                    <div class="btn-group pull-right" ng-if="vm.params.id">
                        <div class="btn btn-primary btn-xs" ng-if="globalPermission.created" ui-sref="field.${cm.uncapitalize($cm.modelClass)}()">
                            <i class="fa fa-plus-square fa-fw"></i>
                            新增
                        </div>
                    </div>
           
                    
                    
                    
                    
                </div>

                <div class="panel-body">
                    <ul class="ul-table-head row">
                        <li>
                        
                            <div class="three1 text-center">序号</div>
                             #foreach($field in $cm.fields)	
                               #if($field.listShow == true)
                               <div class="three1 text-center">${field.comment}</div>  
                               #end                                             
                              #end
                            <div class="three3 text-center">操作</div>
                          
                            
                        </li>
                    </ul>
                    <ul class="ul-table" dnd-list="vm.list">
                        <li ng-repeat="item in vm.list"
                            dnd-draggable="item"
                            dnd-moved="vm.list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="vm.list.selected = item"
                            ng-class="{'selected': vm.list.selected === item}"
                        >
                            <div class="three1">{{$index*1+1}}</div>
                            #foreach($field in $cm.fields)	
                               #if($field.listShow == true)
                                <div class="three2">{{item.${field.cname}}}</div>  
                               #end                                             
                              #end
                            
                           
                            
                            
                            
                            <div class="three3">
                              
                                <button class="btn btn-default btn-xs"
                                        ui-sref="field.${cm.uncapitalize($cm.modelClass)}({id:item.id})">查看
                                </button>
                                <button class="btn btn-default btn-xs"  ng-if="globalPermission.updated"
                                        ui-sref="field.${cm.uncapitalize($cm.modelClass)}({id:item.id})">编辑
                                </button>
                                <button class="btn btn-danger btn-xs" ng-if="globalPermission.deleted" data-toggle="modal" data-target="#myModal"
                                        ng-click="vm.del(item.id, $index)">删除
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<paging ng-if="vm.page" next="{{vm.page}}"></paging>
